In [1]:
#dawg am i tripping

In [2]:
import pandas as pd

df = pd.read_csv("data/sessions.csv")

# parse datetimes
df['start'] = pd.to_datetime(df['start_time'], dayfirst=True)
df['end'] = pd.to_datetime(df['end_time'], dayfirst=True)

# create hourly timestamps
rng = pd.date_range(df['start'].min().floor('H'),
                    df['end'].max().ceil('H'),
                    freq='H')

# count concurrent
def count_concurrent(ts):
    return ((df['start'] <= ts) & (df['end'] > ts)).sum()

concurrent = pd.DataFrame({'timestamp': rng})
concurrent['concurrent_users'] = concurrent['timestamp'].apply(count_concurrent)

concurrent

/tmp/ipykernel_2997/3973013755.py:10: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rng = pd.date_range(df['start'].min().floor('H'),
/tmp/ipykernel_2997/3973013755.py:11: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['end'].max().ceil('H'),

               timestamp  concurrent_users
0    2024-04-06 09:00:00                 0
1    2024-04-06 10:00:00                 1
2    2024-04-06 11:00:00                 0
3    2024-04-06 12:00:00                 0
4    2024-04-06 13:00:00                 0
...                  ...               ...
4147 2024-09-26 04:00:00                 0
4148 2024-09-26 05:00:00                 0
4149 2024-09-26 06:00:00                 0
4150 2024-09-26 07:00:00                 1
4151 2024-09-26 08:00:00                 0

[4152 rows x 2 columns]

In [4]:
concurrent["concurrent_users"].max()

7

In [6]:
concurrent[concurrent["concurrent_users"] == 7]

               timestamp  concurrent_users
3547 2024-09-01 04:00:00                 7
3548 2024-09-01 05:00:00                 7

In [7]:
concurrent[concurrent["concurrent_users"] == 6]

               timestamp  concurrent_users
710  2024-05-05 23:00:00                 6
1982 2024-06-27 23:00:00                 6

In [8]:
concurrent.to_csv("concurrent.csv")

In [15]:
concurrent[concurrent["concurrent_users"] > 3]

               timestamp  concurrent_users
710  2024-05-05 23:00:00                 6
877  2024-05-12 22:00:00                 4
999  2024-05-18 00:00:00                 4
1027 2024-05-19 04:00:00                 4
1068 2024-05-20 21:00:00                 4
1146 2024-05-24 03:00:00                 4
1982 2024-06-27 23:00:00                 6
2107 2024-07-03 04:00:00                 4
2420 2024-07-16 05:00:00                 4
2586 2024-07-23 03:00:00                 4
2587 2024-07-23 04:00:00                 4
2850 2024-08-03 03:00:00                 4
3375 2024-08-25 00:00:00                 4
3376 2024-08-25 01:00:00                 4
3377 2024-08-25 02:00:00                 5
3397 2024-08-25 22:00:00                 4
3398 2024-08-25 23:00:00                 4
3399 2024-08-26 00:00:00                 4
3546 2024-09-01 03:00:00                 4
3547 2024-09-01 04:00:00                 7
3548 2024-09-01 05:00:00                 7
3597 2024-09-03 06:00:00                 4
3737 2024-09-09 02:00:00                 4
3762 2024-09-10 03:00:00                 5