In [12]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C'],
        'Value': [10, 20, 15, 25, None, 12, 30], "another" : [1, 23, 4, 55, 1, 3, 5,]}
df = pd.DataFrame(data)

# Group by 'Category' and count non-null 'Value's
grouped_counts = df.groupby('Category')['Value'].count()
print(grouped_counts)

Category
A    3
B    1
C    2
Name: Value, dtype: int64

In [13]:
data

{'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C'],
 'Value': [10, 20, 15, 25, None, 12, 30],
 'another': [1, 23, 4, 55, 1, 3, 5]}

In [14]:
df

  Category  Value  another
0        A   10.0        1
1        B   20.0       23
2        A   15.0        4
3        C   25.0       55
4        B    NaN        1
5        A   12.0        3
6        C   30.0        5

In [15]:
df.groupby('Category').count()

          Value  another
Category
A             3        3
B             1        2
C             2        2

In [16]:
import datetime

td = datetime.timedelta(days=13, hours=5, seconds=45)

days_int = td.days
seconds_component_int = td.seconds # This returns only the seconds component within the current day/hour/minute
microseconds_component_int = td.microseconds

print(f"Timedelta: {td}")
print(f"Days: {days_int}")
print(f"Seconds component: {seconds_component_int}")
print(f"Microseconds component: {microseconds_component_int}")

Timedelta: 13 days, 5:00:45
Days: 13
Seconds component: 18045
Microseconds component: 0

In [17]:
td

datetime.timedelta(days=13, seconds=18045)

In [18]:
import pandas as pd

# Create a sample Series of datetime objects
dates = pd.Series(pd.to_datetime(['2024-01-01', '2024-02-15', '2024-11-30']))

# Convert the Series to strings with a specific format (e.g., 'YYYY-MM-DD')
string_dates = dates.dt.strftime('%Y-%m-%d')

print("Original Datetime Series:")
print(dates)
print("\nConverted String Series:")
print(string_dates)

# Example with a different format (e.g., 'Month Day, Year')
string_dates_formatted = dates.dt.strftime('%B %d, %Y')
print("\nConverted String Series (Formatted):")
print(string_dates_formatted)

Original Datetime Series:
0   2024-01-01
1   2024-02-15
2   2024-11-30
dtype: datetime64[ns]

Converted String Series:
0    2024-01-01
1    2024-02-15
2    2024-11-30
dtype: object

Converted String Series (Formatted):
0     January 01, 2024
1    February 15, 2024
2    November 30, 2024
dtype: object